@{

}

<head>

</head>

<div id="home">
	<div class="text-center">
		<h1>CLASSIC MOVIES FOR THE AGES</h1>
		<h3>Do you refuse to think for yourself and prefer to let movie critics do the thinking for you? You're in the right place!</h3>
		<img class="home-image" src="https://media.glamour.com/photos/5eb07b42c0c7a96cd5592e99/master/pass/river.jpg"><img/>
		<h5>Welcome to Classic Movies for the Ages, where we skip the thinking and just repeat what critics have been saying for decades!
			Here, we’ll spoon-feed you all the juicy critic-approved takes on the classics—from Hitchcock to Kubrick—so you can sound like a film snob without even trying. 
			Sit back, relax, and let us do the mental heavy lifting!</h5>
	</div>
</div>